.hover-primary:hover {
      color: #0d6efd !important;
      text-decoration: underline;
    }

    .footer-icons a {
  color: #2966c1 !important; /* Bootstrap's primary blue */
    }
  .footer-icons a:hover {
    color: #0d6efd !important;

}

footer {
  background-color: #0a0a0a;
}